// Choisissez la couleur de votre site

$themecolor-red: #ac4142;
$themecolor-orange: #d28445;
$themecolor-yellow: #f4bf75;
$themecolor-green: #90a959;
$themecolor-cyan: #75b5aa;
$themecolor-blue: #2C81D1;
$themecolor-magenta: #aa759f;
$themecolor-brown: #8f5536;

$themecolor: $color-teal;

