---
layout: default
---
<div class="home">
  {{ content }}
  <div class="post-preview">
  {%- for post in paginator.posts -%}
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">
            {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <div class="post-subtitle">
            {{ post.subtitle }}
        </div>
        {% endif %}
    </a>

    <p class="post-meta">
      {% if post.date_update %}Mis à jour{% else %}Publié{% endif %}
      {% if site.author.name %} par <a href="{{ site.baseurl }}{{ site.author.url }}">{{ site.author.name }}</a>{% endif %}

    {%- assign date_format = site.date_format | default: "%b %-d, %Y" -%}
    {% if post.date_update %}
        le {{ post.date_update | date: date_format }}
    {% else %}
        {% if post.date %}
            le {{ post.date | date: date_format }}
        {% endif %}
    {% endif %}

    <span class="tagline">
    {% for tag in post.tags %}
        • <a href="{{ site.baseurl }}/tags.html#{{ tag | slugize }}">{{ tag }}</a>
    {% endfor %}
    </span>
    </p>

  <hr>
  {%- endfor -%}
  </div>

  <!-- Pager -->
    {% if paginator.total_pages > 1 %}
    <div class="pager">
        {% if paginator.previous_page %}
        <span class="previous">
            <a href="{{ site.baseurl }}{{ paginator.previous_page_path}}/index.html">&larr; Article précédent</a>
        </span>
        {% endif %}
        {% if paginator.next_page %}
        <span class="next">
            <a href="{{ site.baseurl }}{{ paginator.next_page_path }}/index.html">Article suivant &rarr;</a>
        </span>
        {% endif %}
    </div>
    <hr>
    {% endif %}

<p></p>
<p class="rss-subscribe">S'abonner au <a href="{{ "/feed.xml" | relative_url }}">flux RSS</a></p>

</div>
